<!--<li [ngClass]="{'list-group-item': true,

                'list-group-item-success': reussite === 'oui',

                'list-group-item-danger': reussite === 'non'}">

  

<h4 [ngStyle]="{color: getColor()}">Pays : {{ pays }} -- Réussi : {{ getReussite() }}</h4>

  <h5>Date de départ</h5>
  <input type="date" class="form-control" [(ngModel)]="dateDepart">
  <h5>Date de fin</h5>
  <input type="date" class="form-control" [(ngModel)]="dateFin">
  <h5>Type de mobilité</h5>
  <input type="text" class="form-control" [(ngModel)]="mobilite">
  <h5>Ville de la mobilité</h5>
  <input type="text" class="form-control" [(ngModel)]="ville">
  <h5>Satisfaction</h5>
  <input type="text" class="form-control" [(ngModel)]="satisfaction">
  <h5>Ressenti de la mobilité</h5>
  <input type="text" class="form-control" [(ngModel)]="ressenti">





</li>-->
<div class="container">
    <div class="row">
      <div class=" col-sm">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">
                    Pays
                </th>
                <th scope="col">
                    Date de départ
                </th>
                <th>
                    Date de fin
                </th> 
                <th>
                    Type de mobilité
                </th> 
                <th>
                    Ville
                </th>
                <th>
                    Promotion
                </th> 
                <th>
                    Satisfaction
                </th>
                <th>
                    Réussite
                </th> 
                <th>
                    Ressenti
                </th>    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stage of stages" class="table-success">
                <td>
                    {{stage.pays}}
                </td>
                <td>
                    {{stage.depart | date}}
                </td>
                <td>
                    {{stage.fin | date}}
                </td> 
                <td>
                    {{stage.type_mobilite}}
                </td> 
                <td>
                    {{stage.ville}}
                </td>
                <td>
                    {{stage.promotion}}
                </td> 
                <td>
                    {{stage.satisfaction}}
                </td>
                <td>
                    {{stage.reussite}}
                </td>  
                <td>
                    {{stage.ressenti}}
                </td>   
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
