<div id="choix">
  <p>Nombre de stages:  
  {{stages.length}}</p>
  <br>
  <p>Type:</p>
  <input type="radio" [(ngModel)]="type" value="Stage">Stage
  <input type="radio" [(ngModel)]="type" value="Semestre">Semestre
  <br>
  Pays:
  <p><select [(ngModel)]="pays">
    <option value='tous'>Tous</option>
    <option *ngFor="let stage of stages" value="{{stage.pays}}">{{stage.pays}}</option>
  </select></p>
  <br>
  <p>Promotion:</p>
  <select [(ngModel)]="promotion">
    <option value='tous'>Tous</option>
    <option *ngFor="let stage of stages" value="{{stage.promotion}}">{{stage.promotion}}</option>
  </select>
</div>
<div id="choix">
<div id="stats">
  <p>Taux de réussite moyen:</p>
  {{getReussite()}} / 1
</div>
<div id="stats">
  <p>Satisfaction moyenne:</p>
  {{getStatisfaction()}} / 5
</div>
<div id="stats">
  <p>Nombre d'étudiant:</p>
  {{getNbr()}}
</div>
</div>