<p>
  Nombre de stages:
  {{stages.length}}
  <br>
  Liste des mobilités:
  <br>
  {{stages[0].pays}}
  <li *ngFor="let item of stages; let i = index">
    {{i}} {{item.pays}} {{item.type_mobilite}} {{item.satisfaction}}
  </li>
  <br>
  Type:
  <br>
  <input type="radio" [(ngModel)]="type" value="Stage">Stage
  <input type="radio" [(ngModel)]="type" value="Semestre">Semestre
  <br>
  Pays:
  <br>
  <select [(ngModel)]="pays">
    <option value='tous'>Tous</option>
    <option *ngFor="let stage of stages" value="{{stage.pays}}">{{stage.pays}}</option>
  </select>
  <br>
  Promotion:
  <br>
  <select [(ngModel)]="promotion">
    <option value='tous'>Tous</option>
    <option *ngFor="let stage of stages" value="{{stage.promotion}}">{{stage.promotion}}</option>
  </select>
</p>
<p>
  <br>
  Taux de réussite moyen:
  <br>
  {{getReussite()}} / 1
</p>
<p>
  <br>
  Satisfaction moyenne:
  <br>
  {{getStatisfaction()}} / 5
</p>
<p>
  <br>
  Nombre d'étudiant
  <br>
  {{getNbr()}}
</p>
