#choix{
    border-color: black;
    border-style: solid;
    margin: 30px;
    border-radius: 5px;
    padding: 20px;
    float: left;
}
#stats{
    border-top: 5px;
    border-bottom: 5px;
}
p{
    margin-right:15px;
}