<div *ngIf="isConnected">
  <div class="contain">
  <div class="margin5">
      <p>Mobilité Polytech</p>
  </div>
  <nav class="navbar navbar-default" >
      <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="semestre">Semestre à l'étranger</a></li>
                <li routerLinkActive="active"><a routerLink="stage">Stage à l'étranger</a></li>
            </ul>
      </div>
  </nav>
  <div style="border: 2px solid black;  float: left">
      <section>
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
    </section>
  </div>
  </div>
</div>